@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "HarmonyOS Sans", "PingFang TC", -apple-system, system-ui, "Helvetica Neue", "Microsoft YaHei", Arial, sans-serif;
  --font-mono: "HarmonyOS Sans Mono", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
